:root {
  --primario: #dba800;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,h2,h3 {
  margin: 0;
}

p {
  margin: 0;
}

img {
 max-width: 100%;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

.heading-seccion {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 4rem;
  font-family: "Caveat", cursive;
  font-weight: 700;
}

/*Animaciones*/
.sidebar {
  background-color: var(--primario);
  position: fixed;
  width: 70%;
  height: 100vh;
  left: -100%;
  transition: all .6s;
  z-index: 3;
}

.sidebar.active {
  left: 0;
}

@media (min-width: 768px) {

  .sidebar {
    display: none;
  }
}

/*Cards*/

.card-contacto {
  background-image: url(./assets/img/telefono.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
  border-radius: 4%;
  cursor: pointer;
  transition: all .5s ease;
}

.card-direccion {
  background-image: url(./assets/img/direccion.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
  border-radius: 4%;
  cursor: pointer;
  transition: all .5s ease;

}

.card-horarios {
  background-image: url(./assets/img/horarios.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
  border-radius: 4%;
  cursor: pointer;
  transition: all .5s ease;

}

.content-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .7);
  border-radius: 4%;
  transition: all .5s ease-out;
  opacity: 0;
}

.content-card h3 {
  color: #fff;
  font-size: 3rem;
  padding-bottom: 1.2rem;
  font-family: 'Kalam', cursive;
  font-weight: 700;
}

.content-card p {
  font-size: 2rem;
  color: #fff;
  padding: 0 2rem;
  font-family: 'Kalam', cursive;
}

.content-card li, a {
  color: #fff;
  font-size: 2rem;
  padding-bottom: 0;
  font-family: 'Kalam', cursive;
}

.info-contacto li {
  padding-bottom: 1rem;
}

.info-contacto a:hover {
  color: var(--primario);
}

.info-contacto span {
  font-weight: bold;
}

.card-contacto:hover .content-card {
  opacity: 1;
}

.card-contacto:hover{
  transform: scale(1.1);
}

.card-direccion:hover .content-card {
  opacity: 1;
}

.card-direccion:hover{
  transform: scale(1.1);
}

.card-horarios:hover .content-card {
  opacity: 1;
}

.card-horarios:hover{
  transform: scale(1.1);
}
